%footer.global-footer
	.container
		.row
			.col-sm-6
				.media
					.media-left
						%img.media-object.quarter-margin-right{:src=>"/images/footer-logo.png",:width=>"35px"}
					.media-body
						.media-heading
							%h5.half-margin-top
								© 2017 Fuller Theological Seminary
			.col-sm-6
				%ul.social-list.list-inline
					%li
						%a.social-font-name{:href=>"#"}
							F
						
					%li
						%a.social-font-name{:href=>"#"}
							L
					%li
						%a.social-font-name{:href=>"#"}
							X
				%ul.social-list.list-inline.quarter-margin-right
					%li
						%a.social-font-name-two{:href=>"#"}
							I
		.row
			.col-md-10.margin-top
				%p.medium-font-name
					Disclaimer
				%h5.light-text-color
					The purpose of the Fuller Theological Seminary Website is to provide information about the Seminary, its mission, programs, services, and resources.  The Seminary uses reasonable efforts to ensure that all content published at this website is current and accurate.  
				%h5.light-text-color
					Fuller Theological Seminary may provide links to resources outside of the Seminary for viewers' convenience and information only; such links do not constitute an endorsement or approval by the Seminary of any products, services, or opinions in linked content.  Accordingly, Fuller Theological Seminary bears no responsibility for the accuracy, legality, content, or cyber security of any external websites, whether linked by the Seminary's websites or otherwise.  
				%h5.light-text-color
					Questions or comments about the Seminary's webs site may be directed to 
					%a{:href=>"#"}
						websupport@fuller.edu
					\. Questions concerning non-Fuller sites must be directed toward the owners or operators of such sites.  

			.col-md-2
					
