%nav.navbar.navbar-default.navbar-fixed-top.global-nav
	.container.half-padding-bottom
		.navbar-header
			%a.navbar-brand{:href=>"/"}
				%img{:src=>"../images/logo.png", :width=>"169"}
			.navbar-right
				%ul.nav.navbar-nav
					%li.visible-xs.search-jobs-toggle
						%a{:href=>"#"}
							%i.fa.fa-search
							Jobs
					%li
						%a{:href=>"/listings/new"}
							Post a Job
							

							


