%section.no-padding-top
	.container
		.row
			.col-lg-12
				.post-a-job-promo
					.row
						.col-sm-9
							%h2.medium-font-name
								Looking to hire Fuller students or graduates?
						.col-sm-3
							.button-container
								%a.btn.btn-primary.btn-lg{:href=>"/listings/new"}
									Post a Job here