:css
	.search-jobs-toggle{
		visibility:visible!important;
	}

.results-search-form
	.form-inner
		%form.form-inline
			.form-group
				.inner-addon.left-addon
					%i.fa.fa-search
					%input.form-control.input-lg{:placeholder => "Keyword"}
			.form-group
				.inner-addon.left-addon
					%i.fa.fa-map-marker
					%input.form-control.input-lg{:placeholder => "Location"}
			%button.btn.btn-primary{:type => "submit"} 
				Search

.container
	.row
		.col-lg-12	
			.half-margin-top
				%ol.breadcrumb
					%li
						%a{:href=>"/"}
							Jobs
					%li.active
						Church Ministry

	.row
		.col-md-3.hidden-sm.hidden-xs
			.panel.filter-panel
				.panel-body
					%h5.no-margin-bottom
						%i.fa.fa-filter
						Filter results
				%ul.list-group.filters-list
					-2.times do
						%li.list-group-item
							.padded-box
								%h5.bold-font-name.dark-text-color.no-margin-bottom 
									Jobs
							.checkbox
								%label
									%input{:type=>"checkbox"}
									Full time
							.checkbox
								%label
									%input{:type=>"checkbox"}
									Part time
							.checkbox
								%label
									%input{:type=>"checkbox"}
									Apprenticeship
		.col-md-9
			.panel
				.panel-body
					.results-header
						%h3.medium-font-name
							"Church Ministry" jobs in Denver, CO
						%p.no-margin-bottom
							20 Jobs
				%ul.list-group.results-list
					-10.times do
						%li.list-group-item.no-padding
							%a.result{:href=>"/listings/listing"}
								%h4.medium-font-name.link-color
									Worship Pastor or a title with a real long name
								%p.no-margin-bottom.text-color
									Bergin Park Church
								%p.text-color.no-margin-bottom
									Evergreen, CO
								.days-ago-label
									%p.medium-font-name.extra-dark-text-color
										4 days ago
				.panel-footer.text-center
					%nav{"aria-label" => "..."}
						%ul.pagination
							%li.disabled
								%a{"aria-label" => "Previous", :href => "#"}
									%span{"aria-hidden" => "true"} 
										«
							%li.active
								%a{:href => "#"}
									1
							%li
								%a{:href => "#"}
									2
							%li
								%a{:href => "#"}
									3
							%li
								%a{"aria-label" => "Next", :href => "#"}
									%span{"aria-hidden" => "true"} 
										»

%section.no-padding-bottom					
	=partial"shared/promo"