%section.no-padding-top
	.container
		.row
			.col-lg-12	
				.half-margin-top
					%ol.breadcrumb
						%li
							%a{:href=>"/"}
								Jobs
						%li
							%a{:href=>"/listings"}
								Church Ministry
						%li.active
							Worship Pastor at Bergen Park Church 
		.row
			.col-lg-12
				.panel
					.panel-body
						.col-sm-9
							.media
								.media-left.hidden-xs
									%img.media-object.quarter-margin-right{:src=>"/images/job-image-placeholder.png",:width=>"155px"}
								.media-body
									.media-heading
										%h3
											Worship Pastor at Bergen Park Church 
											%br
											Evergreen, CO
						.col-sm-3
							%a.btn.btn-block.btn-primary.half-margin-top{:href=>"#"}
								Apply Now
		.row
			.col-lg-9
				.panel
					.panel-body
						.page-header.no-margin-top
							%h4.text-uppercase.bold-font-name.dark-text-color.no-margin-bottom
								About the job
						%p
							The Children’s director/minister manages all initiatives aimed at fostering the spiritual growth of the children at Hope Covenant Church (Infant-5th Grade). This includes, and is not limited to, Sunday school, childcare, Vacation Bible School (VBS) and any special events. 
						%p
							This position reports directly to the Executive Pastor and is expected to partner with the rest of the staff, the children’s ministry team and church Elders to achieve the above-stated goal.
						%p
							This is a part-time, exempt position (20-30hrs) with the opportunity for flex as needed.
				.panel
					.panel-body
						.page-header.no-margin-top
							%h4.text-uppercase.bold-font-name.dark-text-color.no-margin-bottom
								Organization Information
						.margin-bottom
							%p.bold-font-name.dark-text-color.quarter-margin-bottom
								Address
							%p
								Hope Covenant Church (Evangelical Covenant Church)
								%br
								1770 S Dobson Road
								%br
								Chandler,  AZ  85286
								%br
								United States
						.margin-bottom
							%p.bold-font-name.dark-text-color.quarter-margin-bottom
								Contact
							%p
								Doug Glynn
								%br
								(480) 899-7255
								%br
								%a{:href=>"mailto:jobs@hopecov.com"}
									jobs@hopecov.com
						%p.bold-font-name.dark-text-color.quarter-margin-bottom
							Website
						%p
							%a{:href=>"mailto:jobs@hopecov.com"}
								jobs@hopecov.com
			.col-lg-3
				.panel
					.panel-body
						.page-header.no-margin-top
							%h4.text-uppercase.bold-font-name.dark-text-color.no-margin-bottom
								Details
						-8.times do
							.margin-bottom
								%h5.bold-font-name.dark-text-color.quarter-margin-bottom
									Location
								%h5
									Evergreen, CO 80027