%section.white-section
	.container
		.row
			.col-sm-3
			.col-sm-6
				%h3.text-center
					Post a job
				%p
					Thank you for your interest in hiring Fuller students and graduates. Please fill out the form below to have your job opening posted to our site within 5 business days. Your post will remain online for 90 days, or until you inform us that the position has been filled. 
			.col-sm-3